 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 577px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 6rem;
  width: 697px;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 80px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  font-weight: 700;
  width: 379px;
  font-style: normal;
  margin: 19px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}